.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  padding-top: 30px;
}

.offline-warning {
  position: fixed;
  background-color: orange;
  color: black;
  text-align: center;
  padding: 10px;
  top: 0px;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #282c34;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
